﻿@model ToDoApp.Models.ToDoTask

@{
    ViewData["Title"] = "Edit";
}


<div class="container">
    <h1 class="text-center">Details</h1>
    <hr />
        <div class="row">
            <div class="col-md-6 col-md-offset-3 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h1>Name: @Model.Name</h1>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h2>CreatedOn: @Model.CreatedOn</h2>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p>Description: @Model.Description</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p>CreatedBy: @Model.Assignment.CreatedBy</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p>AssignedTo: @Model.Assignment.AssignedTo</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p>Description: @Model.Description</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <p>Completed: @Model.Done</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

