﻿@model IEnumerable<ToDoTask>

@{
}

<h1>ToDoList</h1>

<p>
    @Html.ActionLink("Create a new task","Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment.AssignedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => task.Id)
                </td>
                <td>
                    @task.Name
                </td>
                <td>
                    @task.Description
                </td>
                <td>
                    @task.CreatedOn
                </td>
                 <td>
                    @task.Assignment.CreatedBy
                </td>
                <td>
                    @task.Assignment.AssignedTo
                </td>
                <td>
                    @task.Done
                </td>
                <td>
                    <a asp-controller="ToDoTask" asp-action="Edit" asp-route-id="@task.Id">Edit</a>
                    <a asp-controller="ToDoTask" asp-action="Details" asp-route-id="@task.Id">Details</a>
                    <a asp-controller="ToDoTask" asp-action="Delete" asp-route-id="@task.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>